[Unit]
Description=MagicMirror Watchdog
After=network.target graphical.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/mm-watchdog.sh
Restart=no

[Install]
WantedBy=multi-user.target
